.FavoritaCoffee{
    margin: 100px 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.FavoritaCoffee__title{
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 75px */
    color: #403F3D;
    margin: 0 auto;
}
.FavoritaCoffee__span{
    color: #B0907A;
}
.slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.carMacchi,.iceCofee{
    display: none;
}
.slider__button-left,.slider__button-right{
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #665F55;
}
.slider__block{
    width: 30%;

}
.slider__row{

}
.slider__content{
  
}
.slider__description{
display: flex;
flex-direction: column;
align-items: center;
}
.slider__description-name{
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 30px */ 
}
.slider__description-contet{
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    text-align: center;
}
.slider__description-price{
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;line-height: 125%; /* 30px */
}